doctype 5
html
  head
    title= "Vote!"
    link(rel='stylesheet', href='/css/vote.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    script(src='/lib/jquery-1.7.2.min.js')
    script(src='/js/util.js')
  body.VoteBody(id="body")
       div(class="span6")

            div!= markDown(question.question)
            p
            if question.imageId
              img(src="/image/#{question.imageId}")
            form(action="/saveAnswer", id="voteForm")
              each alternative, index in question.alternatives
                p
                  input(type="checkbox", name="alternative", id="alternative#{index}", class="alternative", onclick="validate(this)", value=index+1)
                  label.radio.inline(for="alternative#{index}") #{alternative.title}
              p
              input(type="button", class="btn btn-success", id="sendButton", onclick="sendMCResults()", value="Abschicken", disabled="disabled")
              input(type="hidden", id="questionId", value=question._id)
script(src='/js/dovote.js')
