extends layout

block content
  div(class="container")
    h1 #{question.question}
    form(action="/saveAnswer", id="voteForm")
      each alternative, index in question.alternatives
        p
          input(type="radio", name="alternative", class="alternative", onclick="validate()", value=index+1) 
          label.radio.inline #{alternative.title}
      img(src="/image/#{question.imageId}")
      p
      input(type="button", class="btn btn-success", id="sendButton", onclick="send()", value="Abschicken", disabled="true")
      input(type="hidden", id="questionId", value=question._id)
  script(src='/js/dovote.js')
